{# base.html #}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mini.css/3.0.0/mini-default.min.css">
  <meta name="description" content="Simple Azure navigator.">
  <title>Simple Azure navigator.</title>
  <script type="text/javascript" src="https://secure.skypeassets.com/i/scom/js/skype-uri.js"></script>
</head>
<body>

<header class="sticky">
  <a href="/" class="logo">Home</a>
  <a href="https://notebooks.azure.com/" target="_blank" class="button">Your Azure notebooks</a>
  <a href="/help/" class="button">Help</a>
  <a href="/users/" class="button">Users</a>
  <a href="/help/q/" class="button">Questions</a>

  {% if current_user.is_authenticated %}
  <a href="/profile/" class="button">{{current_user.name}} profile</a>
  {% else %}
  <a href="{{ url_for("azure.login") }}" class="button">Log in</a>
  {% endif %}
</header>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="row"><div class="card {{ category }}">{{ category }}: {{ message }}</span></div></div>
    {% endfor %}
  {% endif %}
{% endwith %}

{% block body %}{% endblock %}

<footer>

<p>v 0024 at 10_08_2018</p>

<div id="SkypeButton_Call_yn_common_1">
 <script type="text/javascript">
 Skype.ui({
 "name": "chat",
 "element": "SkypeButton_Call_yn_common_1",
 "participants": ["y.nachitov"],
 "imageSize": 24
 });
 </script>
</div>

<hr>
<br>{{current_user}}<br>{{session}}
</footer>

</body>
</html>