{# index.html #}
{% extends "base.html" %}
{% block body %}


<h2>On-line help for Azure Notebooks</h2>

<table class="hoverable">
<thead>
<tr>
<th>Date time</th>
<th>Question</th>
<th>File name</th>
<th>File url</th>
<th>Cell code</th>
<th>Cell output</th>
<th>Answer</th>
</tr>
</thead>
<tbody>
{% for q in questions %}
<tr>
<td data-label="Date time">{{q.dt.strftime('%Y-%m-%d %H:%M:%S')}}</td>
<td data-label="Question">{{q.description}}</td>
<td data-label="File name">{{q.file_name}}</td>
<td data-label="File url">{% if q.file_url %}<a href="{{q.file_url}}">{{q.file_url}}</a>{% endif %}</td>
<td data-label="Cell code"><code>{{q.cell_code}}</code></td>
<td data-label="Cell output"><code>{{q.cell_output}}</code></td>
<td data-label="Answer">{{q.answer}}</td>
</tr>
{% endfor%}
</tbody>
</table>

{% endblock %} 