{# index.html #}
{% extends "base.html" %}
{% block body %}


<h2>On-line help for Azure Notebooks</h2>

<table>
<tr>
<th>Date time</th>
<th>Question</th>
<th>File name</th>
<th>File url</th>
<th>Cell code</th>
<th>Cell output</th>
<th>Answer</th>
</tr>
{% for q in questions %}
<tr>
<td>{{q.dt.strftime('%Y-%m-%d %H:%M:%S')}}</td>
<td>{{q.description}}</td>
<td>{{q.file_name}}</td>
<td>{% if q.file_url %}<a href="{{q.file_url}}">{{q.file_url}}</a>{% endif %}</td>
<td>{{q.cell_code}}</td>
<td>{{q.cell_output}}</td>
<td>{{q.answer}}</td>
</tr>
{% endfor%}
</table>

{% endblock %} 