<h1>Users</h1>
{{users}}
<ul>
{%for u in users %}
<li>{{u.id}}{{u.name}}{{u.email}}</li>
{%endfor%}
</ul>
<hr>

<h1>oauths</h1>
{{oauths}}

<br>
<table border="1">
<tr>
<th>oa.id</th>
<th>oa.provider</th>
<th>oa.created_at</th>
<th>oa.user_id</th>
<th>oa.provider_user_id</th>
<th>oa.token</th>
</tr>
{%for oa in oauths %}
<tr>
<td>{{oa.id}}</td>
<td>{{oa.provider}}</td>
<td>{{oa.created_at}}</td>
<td>{{oa.user_id}}</td>
<td>{{oa.provider_user_id}}</td>
<td><pre>{{oa.token|tojson(indent=2)}}</pre></td>
</tr>
{%endfor%}
</table>

<h1>DB log</h1>
{{db_log}}

<table border="1">
<tr>
<th>id</th>
<th>description</th>
<th>dt</th>
</tr>
{% for l in db_log %}
<tr>
<td>{{l.id}}</td>
<td>{{l.description}}</td>
<td>{{l.dt}}</td>
</tr>
{%endfor%}
</table>

<hr>

{% if current_user.is_authenticated %}
  You are logged in as {{ current_user.username }}_{{current_user}}!
  <a href="{{ url_for("logout") }}">Log out</a>
{% else %}
  You are not logged in.
  <a href="{{ url_for("azure.login") }}">Log in</a>
{% endif %}